// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-restaurants-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 28px;
}

.home-restaurants-title > div {
  display: inline;
  font-weight: bold;
  color: 0F172B;
}

.home-restaurants-container {
  width: 1000px;
  margin: auto;
  display: flex;
}

.home-restaurants-discovery {
  background-color: #f5f5f5;
  font-family: sans-serif;
  display: block;
  padding: 25px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.home-restaurants-discovery-container {
  width: 74%;
  margin: auto;
  padding-top: 20px;
}

.home-restaurants-index-items-container {
  display: flex;
  border-right: 1px solid #ccc;
  padding-right: 30px;
}

.home-restaurants-index-items {
}

.home-restaurants-index-photos {
  height: 500px;
  width: 462px;
  padding-left: 30px;
}

.home-restaurants-single-photo {
  list-style: none;
  float:left;
  margin: 5px;
  display: block;
}

.home-restaurants-single-photo > img {
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.home-restaurants-single-photo > img:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.home-restaurants-index-item {
  border-top: 1px solid #e6e6e6;
  max-width: 500px;
  max-height: 500px;
  font-family: sans-serif;
}

.home-restaurants-index-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.home-restaurants-index-item-inner {
  margin: 25px;
}

//----------------------------------------------------------------------

.index-item-top-half {
  display: block;
}

.index-item-primary-attr {
  float: left;
  width: 130px;
  margin-left: 15px;
}

.index-item-secondary-attr {
  float: left;
  display: block;
  width: 200px;
  padding-left: 15px;
}

.index-item-footer-attr {
  display: block;
  margin-top: 20px;
}

.index-item-description {
  width: 450px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index-item-description:hover {
  cursor: pointer;
}

.index-item-description:active {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
  transition: all 2s ease-in;
}

.index-item-location, .index-item-neighborhood, .index-item-phone-number {
  padding-bottom: 10px;
}

.index-item-photo > img {
  float: left;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.index-item-photo {
  float: left;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.index-item-photo >img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.index-item-name {
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.index-item-name:hover {
  cursor: pointer;
  color: #57AD57;
  transition: 0.3s;
}

.index-item-rating {
  display: block;
}

.index-item-rating:hover {
  cursor: none;
}

.price-range {
  color: #C90A0A;
  display: block;
  padding-left: 4px;
}

.index-item-info {
  display: block;
}
