.restaurant {
  font-family: sans-serif;
}

.restaurant-content{
  width: 74%;
  margin: auto;
  // border: 1px solid red;
}

//----------------------------------------------------------------------
.restaurant-top-background {
  display: block;
  float: left;
  width: 100%;
  min-width: 907px;
  height: 400px;
  background-color: #f5f5f5;
  margin-bottom: 80px;
  z-index: -1;
}

.restaurant-top {
  display: block;
  // border: 1px solid black;
  width: 70%;
  margin: auto;
  padding: 24px 0 5px 0;
}

.restaurant-top-left-side {
  float: left;
}

.restaurant-top-left-side > h1 {
  font-size: 30px;
  font-weight: bold;
}

.restaurant-top-right-side {
  float: right;
}

//----------------------------------------------------------------------
.restaurant-middle {
  display: block;
  // border: 1px solid black;
  width: 71%;
  min-width: 907px;
  margin: auto;
}

.restaurant-middle-map {
  display: block;
  float: left;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
}

.restaurant-middle-map > h3 {
  font-weight: bold;
  padding-top: 5px;
  max-width: 291px;
}

.restaurant-middle-map > div {
  padding-top: 5px;
  max-width: 291px;
}

.restaurant-middle-pictures {
  display: block;
  float: left;
  width: 65%;
  border: 1px solid red;
}

//----------------------------------------------------------------------
.restaurant-bottom {
  display: block;
  // border: 1px solid black;
  padding: 20px;
  min-width: 812px;
}

.restaurant-bottom-sidebar {
  display: block;
  float: right;
  // border: 1px solid red;
  width: 30%;
  height: 100%;
  // border: 1px solid red;
}

.restaurant-bottom-reviews {
  display: block;
  float: left;
  // border-bottom: 1px solid #ccc;
  width: 66.666%;
}

.restaurant-reviews-form-border {
  border-right: 1px solid #cccccc;
  padding: 0 25px 0 0;
}

.restaurant-reviews-form-border > h1 {
  font-size: 20px;
  font-weight: bold;
  color: #0F172B;
  margin-bottom: 5px;
}

.restaurant-reviews-form {
  padding-bottom: 25px;
}

.restaurant-reviews-form-textarea {
  width: 80%;
  height: 75px;
  border: 1px solid #cccccc;
  margin: 10px 0 20px 0;
}

.restaurant-reviews-submit {
  width: 135px;
  height: 35px;
  border: 1px solid #cccccc;
  background: #e5050b;
  border-radius: 5px;
  padding: 5px 0 5px 15px;
  margin-bottom: 10px;
}

.restaurant-reviews-submit > button {
  color: #fff;
  padding-left: 10px;
  float: left;
  padding: 10px 0 0 5px;
}

.restaurant-reviews-submit > span {
  float: left;
}

.restaurant-bottom-sidebar-hours > h1 {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0 5px 0;
  color: #e5050b;
}

.restaurant-bottom-sidebar-info > h1 {
  padding-top: 24px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 5px 0;
  color: #e5050b;
}

.sidebar-info {
  display: block;
  margin-bottom: 3px;
}

.sidebar-info-left {
  display: block;
  float: left;
}

.sidebar-info-right {
  display: block;
  float: left;
  margin-left: 5px;
  font-weight: bold;
}
