.restaurant {
  font-family: sans-serif;
}

.restaurant-content{
  display: block;
  margin: auto;
}

//----------------------------------------------------------------------
.restaurant-top-background {
  display: block;
  height: 400px;
  background-color: #f5f5f5;
  margin: auto;
}

.restaurant-top-background-container {
  display: block;
  width: 90%;
  margin: auto;
}

.restaurant-top {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1015px;
  padding: 24px 0 5px 0;
}

.restaurant-top-left-side {
}

.restaurant-top-left-side > h1 {
  font-size: 30px;
  font-weight: bold;
}

.restaurant-top-right-side {
}

//----------------------------------------------------------------------
.restaurant-middle {
  display: flex;
  width: 1015px;
  margin: auto;
}

.restaurant-middle-map {
  display: block;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
}

.restaurant-middle-map > h3 {
  font-weight: bold;
  padding-top: 5px;
  max-width: 278px;
}

.restaurant-middle-map > div {
  max-width: 278px;
}

.restaurant-middle-pictures {
  display: flex;
  justify-content: space-between;
}

.restaurant-middle-pictures > div {
  display: block;
}

.restaurant-middle-pictures > div > img {
  display: block;
  object-fit: cover;
}

.primary {
  padding-top: 43px;
}

.secondary {
  padding-top: 23px;
}

.tertiary {
  padding-top: 43px;
}

//----------------------------------------------------------------------
.restaurant-bottom {
  display: flex;
  justify-content: space-between;
  width: 1015px;
  margin: auto;
  padding-top: 40px;
}

.restaurant-bottom-reviews {
  display: block;
}

.restaurant-bottom-sidebar {
  display: block;
  min-width: 205px;
  padding-left: 60px;
}

.restaurant-reviews-form-border {
  border-right: 1px solid #cccccc;
  padding: 10px 60px 0 0;
  display: block;
}

.restaurant-reviews-form-border > h1 {
  font-size: 20px;
  font-weight: bold;
  color: #0F172B;
  margin-bottom: 5px;
}

.restaurant-reviews-form {
  padding-bottom: 25px;
}

.restaurant-reviews-form-textarea {
  width: 80%;
  height: 75px;
  border: 1px solid #cccccc;
  margin: 10px 0 20px 0;
}

.restaurant-reviews-create {
  display: block;
  text-align: center;
  width: 135px;
  height: 35px;
  border: 1px solid #acacac;
  background: #e5050b;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.restaurant-reviews-create > span{
  display: block;
  margin-top: 8px;
}

.restaurant-reviews-submit {
  display: flex;
  justify-content: center;
  width: 135px;
  height: 35px;
  border: 1px solid #acacac;
  background: #e5050b;
  border-radius: 5px;
  margin-bottom: 10px;
}

.restaurant-reviews-submit:hover,
.restaurant-reviews-submit > button:hover,
.restaurant-reviews-create:hover {
  cursor: pointer;
}

.restaurant-reviews-submit > button {
  color: #fff;
  margin-left: 5px;
}

.restaurant-reviews-submit > span {
}

.restaurant-bottom-sidebar-hours > h1 {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0 5px 0;
  color: #e5050b;
  max-width: 240px;
}

.restaurant-hour-list {
  list-style: none;
}

.restaurant-bottom-sidebar-info > h1 {
  padding-top: 24px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 5px 0;
  color: #e5050b;
}

.sidebar-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3px;
}

.sidebar-info-left {
  display: block;
}

.sidebar-info-right {
  display: block;
  margin-left: 5px;
  font-weight: bold;
}
