// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.star-symbol {
  font-size: 30px;
}

.review-date {
  padding-bottom: 5px;
}

.review {
  border-top: 1px solid #ccc;
  min-width: 650px;
  padding-left: 20px;
}

.review:last-child {
  border-bottom: 1px solid #ccc;
}

.review-primary-attr {
  display: block;
  float: left;
  width: 40%;
  min-width: 251px;
}

.review-primary-attr-left {
  display: block;
  float: left;
  padding: 15px 0 0 15px;
}

.review-primary-attr-left > img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.review-primary-attr-right {
  display: block;
  float: left;
  width: 35%;
  padding: 15px 40px 0 25px;
}

.review-primary-attr-right > h3 {
  width: 100px;
}

.review-secondary-attr {
  display: block;
  float: right;
  width: 57%;
  padding: 15px 15px 15px 0;
}
