.search-field {
  display: flex;
  justify-content: center;
  margin: 5px 50px 0 0;
}

.search-field > input {
  display: block;
  height: 30px;
  width: 355px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 5px;
  margin-top: 5px;
}

.search-field > button {
  display: block;
  width: 90px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background: #57AD57;
  margin: 5px 0 0 15px;
  text-align: center;
}
