.login-form-container {
  display: block;
  font-family: sans-serif;
  height: 900px;
  min-width: 900px;
  margin: auto;
}

.login-form-container-bottom {
  display: block;
  width: 950px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: auto;
}

.login-form-container-bottom > form {
  width: 358px;
  padding-right: 39px;
}

.login-form-message {
  text-align: center;
}

.login-form-image {
  display: block;
  padding: 11.5px 0 0 80px;
}

.login-form-image > img {
  border-radius: 50%;
}

.login-form-return-user {
  padding-top: 87.5px;
}

.login-form-message-switch {
  font-size: 26px;
  font-weight: bold;
  color: #0f172b;
  margin-bottom: 18px;
}

.login-form-text {
  text-transform: capitalize;
}

.login-form-text > h3 {
  margin-bottom: 40px;
}

.input-field > input {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  padding: 0 0 0 5px;
}

.input-field-submit > input {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 3px;
  height: 40px;
  width: 355px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #57AD57;
}

.input-field-submit > input:hover {
  background-color: #0F172B;
  cursor: pointer;
}

.login-form-sign-up {
  font-weight: bold;
}

.login-form-sign-up:hover {
  color: #57AD57;
  transition: 0.3s;
}
