/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import './api/restaurants.scss';
 @import './api/sessions.scss';
 @import './api/restaurant.scss';
 @import './api/reviews.scss';

//--------------------------------DEFAULT-------------------------------
html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.map {
  height: 225px;
  width: 290px;
  border: 1px solid #cccccc;
}

//----------------------------------------------------------------------

.headerbar {
  background: #0F172B;
  font-family: sans-serif;
}

.body {
  display: block;
  font-family: sans-serif;
}

.navbar {
  display: block;
  width: 71%;
  margin: auto;
  padding: 15px;
  background: #0F172B;
}

.header-brand {
  color: #fff;
  font-size: 36px;
  float: left;
}

.navbar > GreetingContainer {
  float: left;
}

.greeting-login-signup {
  float: right;
  display: block;
  width: 200px;
}

.greeting-buttons {
  color: white;
  background-color: #57AD57;
  display: block;
  margin-right: 0px!important;
  width: 90px;
  height: 30px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-align: center;
  padding-top: 9px 9px 15px 9px;
}

.greeting-text {
  display: block;
  float: right;
}

.greeting-user-photo {
  display: block;
  float: left;
  width: 49px;
  height: 49px;
}

.greeting-buttons-log-out {
  color: white;
  background-color: #ccc;
  display: block;
  margin-right: 0px!important;
  width: 90px;
  height: 30px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-align: center;
  padding-top: 9px 9px 15px 9px;
  float: right;
}

.greeting-innertext {
  display: block;
  padding-top: 5px;
}

//-------------------------------FOOTER---------------------------------
.footer {
  background-color: #f5f5f5;
  font-family: sans-serif;
  display: block;
  padding: 25px;
  border-top: 1px solid #ccc;
  margin-top: 50px;
}

.footer-container {
  // border-top: 1px solid #ccc;
  width: 74%;
  margin: auto;
  padding-top: 20px;
}

.footer-about {
  margin-bottom: 5px;
}

.footer-about > p {
  text-align: center;
}

.footer-about-fineprint {
  text-align: center;
  font-size: 8px;
  margin: 5px 0;
}

.footer-image-github {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
  padding: 5px 0;
  padding: 0;
}

.footer-image-github:hover {
  background-color: #57AD57;
  transition: 0.3s;
}
