/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import './star_rating.scss';
 @import './api/restaurants.scss';
 @import './api/sessions.scss';

//--------------------------------DEFAULT-------------------------------
html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

//----------------------------------------------------------------------

.headerbar {
  background: #EAE4E4;
  font-family: sans-serif;
}

.body {
  display: block;
  font-family: sans-serif;
}

.navbar {
  display: block;
  width: 900px;
  margin: auto;
  padding: 15px;
  background: #EAE4E4;
}

.header-brand {
  color: green;
  font-size: 36px;
  float: left;
}

.navbar > GreetingContainer {
  float: left;
}

.greeting-login-signup {
  float: right;
  display: block;
  width: 200px;
}

.greeting-text {
  color: white;
  background-color: #57AD57;
  display: block;
  margin-right: 0px!important;
  width: 90px;
  height: 30px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.greeting-text-align-center {
  margin-top: 5px;
  display: block;
}
