/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
//--------------------------------DEFAULT-------------------------------
html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

//----------------------------------------------------------------------

.headerbar {
  background: #EAE4E4;
  font-family: sans-serif;
}

.body {
  display: block;
  font-family: sans-serif;
}

.navbar {
  display: block;
  width: 900px;
  margin: auto;
  padding: 15px;
  background: #EAE4E4;
}

.header-brand {
  color: green;
  font-size: 36px;
  float: left;
}

.navbar > GreetingContainer {
  float: left;
}

.greeting-login-signup {
  float: right;
  display: block;
  width: 200px;
}

.greeting-text {
  color: white;
  background-color: #57AD57;
  display: block;
  margin-right: 0px!important;
  width: 90px;
  height: 30px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.greeting-text-align-center {
  margin-top: 5px;
  display: block;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.login-form {
  align-items: flex-start;
}

.login-form-fill-info {
  display: block;
  box-sizing: border-box;
  margin-top: 50px;
  width: 300px;
  margin-left: 150px;
  float: left;
}

.login-input {
  width: 250px;
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
}

.login-form-message {
  text-align: center;
}

.login-submit-form {
  margin-left: 150px;
  width: 100px;
}

.login-submit-button {
  width: 250px;
  border: none;
  background-color: #57AD57;
  color: white;
}

.login-submit-button:hover {
  background-color: #11939A;
}

.login-form-box {
  width: auto;
}

.home-restaurants-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 28px;
}

.home-restaurants-container {
}

.home-restaurants-index-items {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 501px;
  margin-left: 50px;
}

.home-restaurants-index-item {
  border-top: 1px solid #e6e6e6;
  max-width: 500px;
  max-height: 500px;
  font-family: sans-serif;
}

.home-restaurants-index-item-inner {
  margin: 25px;
}

.index-item-info {
  display: block;
}

//==========================Restaurant Section==========================
.index-item-top-half {
  display: block;
}

.index-item-photo > img {
  float: left;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.index-item-primary-attr {
  float: left;
  width: 150px;
  margin-left: 10px;
}

.index-item-name {
  font-weight: bold;
  font-size: 16px;
}

.index-item-secondary-attr {
  float: left;
  display: block;
  width: 200px;
}

.index-item-footer-attr {
  display: block;
  margin-top: 20px;
}

.index-item-description {
  width: 450px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index-item-description:hover {
  cursor: pointer;
}

.index-item-description:active {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
  transition: 2s;
}

//---------------------------Star Ratings-------------------------------
.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}

.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; }
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }

.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }
//======================================================================
.index-item-location, .index-item-neighborhood, .index-item-phone-number {
  padding-bottom: 10px;
}

.index-item-price-range {
  color: #C90A0A;
}

.index-item-name:hover, .index-item-photo:hover {
  cursor: pointer;
}

.index-item-name:hover {
  color: #57AD57;
  transition: 0.5s;
}
